.idea/
BACKUP/
FLARDATA/Textures
DATA/450-Wing.CMP
DATA/450-Wing.MAT
DATA/450-Wing1.CMP
DATA/AUDIO/2pop01.wav
DATA/AUDIO/2pop02.wav
DATA/AUDIO/BETA/
DATA/AUDIO/DIALOGUE/
DATA/AUDIO/MIXES/
DATA/AUDIO/MUSIC/
DATA/AUDIO/a-spectator.utf
DATA/AUDIO/announcer.utf
DATA/AUDIO/ashcroft_voice_m02.utf
DATA/AUDIO/b-spectator.utf
DATA/AUDIO/betaleader.utf
DATA/AUDIO/botzler.utf
DATA/AUDIO/bundbase.utf
DATA/AUDIO/buoy.utf
DATA/AUDIO/c-spectator.utf
DATA/AUDIO/cali_base.utf
DATA/AUDIO/cosmo_voice_m02.utf
DATA/AUDIO/d-spectator.utf
DATA/AUDIO/dexter.utf
DATA/AUDIO/escort_2.utf
DATA/AUDIO/fischer.utf
DATA/AUDIO/fp7_setscene.utf
DATA/AUDIO/freeport_1.utf
DATA/AUDIO/freya.utf
DATA/AUDIO/generic_null_voice.wav
DATA/AUDIO/glasgow_outpost.utf
DATA/AUDIO/glorious.utf
DATA/AUDIO/hakkera.utf
DATA/AUDIO/juni.utf
DATA/AUDIO/juni_voice_m01a.utf
DATA/AUDIO/king.utf
DATA/AUDIO/kyoto.utf
DATA/AUDIO/lanehacker_base.utf
DATA/AUDIO/lsfbeta4_voice_m01a.utf
DATA/AUDIO/lsfpilot_voice_m03.utf
DATA/AUDIO/lsfstation_voice.utf
DATA/AUDIO/m01a_newark.utf
DATA/AUDIO/mc_leg_m01.utf
DATA/AUDIO/missouri.utf
DATA/AUDIO/norfolk.utf
DATA/AUDIO/null.wav
DATA/AUDIO/omaha.utf
DATA/AUDIO/ordership_voice_m01a.utf
DATA/AUDIO/orillion.utf
DATA/AUDIO/ozu.utf
DATA/AUDIO/pilot_c_ill_f01.utf
DATA/AUDIO/pilot_c_ill_f01a.utf
DATA/AUDIO/pilot_c_ill_f01b.utf
DATA/AUDIO/pilot_c_ill_m01.utf
DATA/AUDIO/pilot_c_ill_m01a.utf
DATA/AUDIO/pilot_c_ill_m01b.utf
DATA/AUDIO/pilot_c_ill_m02.utf
DATA/AUDIO/pilot_c_ill_m02a.utf
DATA/AUDIO/pilot_c_ill_m02b.utf
DATA/AUDIO/pilot_c_leg_m01.utf
DATA/AUDIO/pilot_c_leg_m01a.utf
DATA/AUDIO/pilot_c_leg_m01b.utf
DATA/AUDIO/prisonship.utf
DATA/AUDIO/pueblo.utf
DATA/AUDIO/quintaine.utf
DATA/AUDIO/razor_1.utf
DATA/AUDIO/repair_voice_m01a.utf
DATA/AUDIO/rh_battleship.utf
DATA/AUDIO/rheinlander.utf
DATA/AUDIO/rvp003.utf
DATA/AUDIO/rvp101.utf
DATA/AUDIO/rvp106.utf
DATA/AUDIO/rvp111.utf
DATA/AUDIO/rvp121.utf
DATA/AUDIO/rvp126.utf
DATA/AUDIO/rvp131.utf
DATA/AUDIO/rvp140.utf
DATA/AUDIO/rvp146.utf
DATA/AUDIO/rvp151.utf
DATA/AUDIO/rvp501.utf
DATA/AUDIO/rvp511.utf
DATA/AUDIO/rvp516.utf
DATA/AUDIO/rvp541.utf
DATA/AUDIO/rvp546.utf
DATA/AUDIO/ryuku.utf
DATA/AUDIO/scout.utf
DATA/AUDIO/sinclair.utf
DATA/AUDIO/spatrol_voice_m03.utf
DATA/AUDIO/stokes_mining_station.utf
DATA/AUDIO/timer.utf
DATA/AUDIO/tleader_voice_m03.utf
DATA/AUDIO/tobias.utf
DATA/AUDIO/tone.wav
DATA/AUDIO/transport.utf
DATA/AUDIO/trent_voice.utf
DATA/AUDIO/unity_voice_m02.utf
DATA/AUDIO/unity_voice_m04.utf
DATA/AUDIO/vanpelt_voice_m04.utf
DATA/AUDIO/vonclaussn.utf
DATA/AUDIO/walker.utf
DATA/AUDIO/walkerlc_m11.utf
DATA/Bat.CMP
DATA/INTERFACE/BASESIDE/
DATA/INTERFACE/LOADSAVE/
DATA/INTERFACE/MULTIPLAYER/
DATA/INTERFACE/NEURONET/CHAT/
DATA/INTERFACE/NEURONET/ICONS/
DATA/INTERFACE/NEURONET/MISSIONVENDOR/
DATA/INTERFACE/NEURONET/NEWSVENDOR/
DATA/INTERFACE/NEURONET/OPTIONS/
DATA/INTERFACE/NEURONET/errorexplanation.cmp
DATA/INTERFACE/NEURONET/misc_bigblackplane.3db
DATA/INTERFACE/TEXTOFFER/
DATA/INTERFACE/UI/
DATA/MOVIES/
DATA/PLAYER/SKINS/br_eagle_skin.3db
DATA/PLAYER/SKINS/br_elite_skin.3db
DATA/PLAYER/SKINS/br_fighter_skin.3db
DATA/PLAYER/SKINS/ku_elite_skin.3db
DATA/PLAYER/SKINS/ku_fighter_skin.3db
DATA/PLAYER/SKINS/ku_titan_skin.3db
DATA/PLAYER/SKINS/li_elite_skin.3db
DATA/PLAYER/SKINS/li_fighter_skin.3db
DATA/PLAYER/SKINS/li_hummer_skin.3db
DATA/PLAYER/SKINS/rh_elite_skin.3db
DATA/PLAYER/SKINS/rh_fighter_skin.3db
DATA/PLAYER/SKINS/rh_sabre_skin.3db
DATA/SCRIPTS/DECOMPILER/
DATA/SCRIPTS/GCS/
DATA/SCRIPTS/GCSBETA/
DATA/Thumbs.db
DATA/ast_om15.mat
DATA/trace.log
SAVE/*.ini
SAVE/Accts/OUTDATED
SAVE/Accts/SinglePlayer/*
SAVE/Accts/SinglePlayer/!sp_survival1.fl
SAVE/Accts/SinglePlayer/!sp_br_megacannon.fl
SAVE/Accts/SinglePlayer/!sp_vlk_demo.fl
DLLS/BIN/ContentX.dll
DLLS/BIN/Content_m.dll
DLLS/BIN/Content_m13.dll
DLLS/BIN/Content_or.dll
DLLS/BIN/test/
EXE/dacom.dll
EXE/dalib.dll
EBUEula.dll
EXE_ENG/
IniLog.txt
Interceptor_or.dll
WIDE_HUD_ADDON/
drvmgt.dll

__pycache__/
*.py[cod]
*$py.class
*.blend1
Assets/Pythonlancer/settings.py
Assets/Pythonlancer/out.tx
Assets/AUDIO_XML_RU_APPLY
Assets/AUDIO_CUTSCENE_RU_APPLY
Assets/UTF_XML/OUT
Assets/UTF_XML/INPUT
Assets/TRACKS/FILES
Assets/TRACKS/FILES/tmp-fl.ini
Assets/TRACKS/FILES/tmp.ini
