:root {
    /* text */
    --color-text-primary: #8ccbe8;
    --color-text-hover: #fff76f;
    /* frame */
    --color-frame-edge-light: #7fb7d2;
    --color-frame-edge-light-trail: #057fb7d2;
    --color-frame-edge-glow: #a1d6fa;
    --color-frame-edge-hover: #ebe93e;
    --color-frame-background-pattern: #1b1345;
    --color-frame-edge-dark: #1ea7c6;
    --color-frame-edge-dark-background: #182948;
    /* ui element (arrow, scrol bar, icons) */
    --color-ui-element-fill: #7aaac1;
    --color-ui-element-shadow: #51707e;
    --color-ui-element-glow: #8ecae0;
    /* status bars */
    --color-energy: #aba36d;
    --color-shield: #4a4db5;
    --color-hp: #7e3743;
    /* progress bar (cargo) */
    --color-progress-bar-full: #80bacc;
    --color-progress-bar-buffer: #eddf6c;
    --color-progress-bar-empty: #83858a;
    /* cargo deal quality */
    --color-deal-good: #47b742;
    --color-deal-mid: #f6e96e;
    --color-deal-bad: #b62c3a;
}
